{% extends 'app/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block titulo %}
    Emprestimo - CoisasEmprestadas
{% endblock titulo %}

{% block navbar %}
<a href="{% url 'home'%}" class="nav-item nav-link active">Home</a> 
                                    <div class="nav-item dropdown">
                                        <a href="{% url 'login_usuario'%}" class="nav-link dropdown-toggle" data-toggle="dropdown">Usuario</a>
                                        <div class="dropdown-menu">
                                            <a href="{% url 'listar_coisa'%}" class="dropdown-item">Lista_Coisas</a>
                                            <a href="{% url 'cadastrar_coisa'%}" class="dropdown-item">Cadastrar_Coisas</a>
                                        </div>
                                    </div>
                                </div> 
                                <div class="navbar-nav">
                                        <a href="{% url 'login_usuario'%}" class="nav-item nav-link">Login</a>
                                        <a href="{% url 'logout_usuario'%}" class="nav-item nav-link">Logout</a>
                                        <a href="{% url 'cadastrar'%}" class="nav-item nav-link">Cadastrar_Usuario</a>
                                    </div>


{% endblock navbar%}
{% block conteudo %}
<div class="col-md-8 offset-md-2">
    <li class="text-success">Se Devolução estiver <strong> Verde</strong> sua 'Coisa' ja foi devolvida.</li>
    <li class="text-warning">Se Devolução estiver <strong> Amarelo</strong> sua 'Coisa' ainda está no prazo.</li>
    <li class="text-danger">Se Devolução estiver <strong> Vermelho</strong> sua 'Coisa' Não foi devolvida no prazo..</li>
    <table class="table col-md"  cellspacing="0" >
    <thead>
    <tr>

        <th>Nome Coisa:</th>
        <th>Data de Emprestimo</th>
        <th>Data Devolução</th>
        <th>Contato</th>
        <th>Devolução</th>
       
    

    </tr>

    </thead>
    <tbody >
    {% for i in object_list %}
        <tr>

            <td><a href="{% url 'atualizar_coisa' i.pk%}"> {{ i.item }} </a> </td>
            <td> {{ i.data_emprestimo  }} </td>

<!--                condicional  -->
            <td > {{ i.data_devolucao   }} </td>
            <td> {{ i.contato_amigo | phone2numeric }}</td>
            {% if i.retorno == "Devolvido" %}
            <td class="bg-success"> {{ i.retorno   }} </td>
            {% elif i.retorno == "Pendente" %}
            <td class="bg-danger "> {{ i.retorno  }} </td>
            {% elif i.retorno == "" %}
            <td class="bg-warning "> {{ i.retorno  }} </td>
            {% endif %}


            


        </tr>
    {% endfor %}
    </tbody>

</table>

   </div>
{% endblock conteudo %}