{% extends 'app/base.html' %}
{% load static %}
{% load meus_filtros %}

{% block titulo %}
    Emprestimo - CoisasEmprestadas
{% endblock titulo %}

{% block navbar %}
<a href="{% url 'home'%}" class="nav-item nav-link active">Home</a> 
                                    <div class="nav-item dropdown">
                                        <a href="{% url 'login_usuario'%}" class="nav-link dropdown-toggle" data-toggle="dropdown">Usuario</a>
                                        <div class="dropdown-menu">
                                            <a href="{% url 'listar_coisa'%}" class="dropdown-item">Lista_Coisas</a>
                                            <a href="{% url 'cadastrar_coisa'%}" class="dropdown-item">Cadastrar_Coisas</a>
                                        </div>
                                    </div>
                                </div> 
                                <div class="navbar-nav">
                                        <a href="{% url 'login_usuario'%}" class="nav-item nav-link">Login</a>
                                        <a href="{% url 'logout_usuario'%}" class="nav-item nav-link">Logout</a>
                                        <a href="{% url 'cadastrar'%}" class="nav-item nav-link">Cadastrar_Usuario</a>
                                    </div>


{% endblock navbar%}
{% block conteudo %}
<div class="col-md-8 offset-md-2">
    <table class="table col-md"  cellspacing="0" >
    <thead>
    <tr>

        <th>Nome Coisa:</th>
        <th>Data de Emprestimo</th>
        <th>Data Devolução</th>
        <th>Contato:</th>
       
    

    </tr>

    </thead>
    <tbody >
    {% for i in object_list %}
        <tr>
            <td> {{ i.item }} </a></td>
            <td> {{ i.data_emprestimo  }} </td>
            <td> {{ i.data_devolucao  }} </td>
            <td> {{ i.contato_amigo | phone2numeric }}</td>
            
            

        </tr>
    {% endfor %}
    </tbody>

</table>

   </div>
{% endblock conteudo %}