{% extends 'app/base.html' %}

{% block titulo %}
    Home
{% endblock titulo %}

{% block conteudo %}
<div class="container">
        <h2 class="text-uppercase text-center text-white">MENSAGEM</h2>
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Mas a sabedoria que vem do alto é, primeiramente, pura, depois, pacífica, moderada,
                    tratável, cheia de misericórdia e de bons frutos, sem parcialidade e sem hipocrisia. <span
                            style="text-decoration: underline;">Tiago 3:17</span><strong><span
                            style="text-decoration: underline;">&nbsp;</span></strong></p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">O que adquire entendimento ama a sua alma o que conserva a inteligência achará o
                    bem. Provérbios 19:8</p>
            </div>
        </div>
        <div class="text-center mt-4"></div>
    </div>
{% endblock conteudo