{% extends 'app/base.html' %}
{% load static %}

{% block titulo %}
    Home - CoisasEmprestadas
{% endblock titulo %}
{% block navbar %}
<a href="{% url 'home'%}" class="nav-item nav-link active">Home</a> 
                                    <div class="nav-item dropdown">
                                        <a href="{% url 'login_usuario'%}" class="nav-link dropdown-toggle" data-toggle="dropdown">Usuario</a>
                                        <div class="dropdown-menu">
                                            <a href="{% url 'listar_coisa'%}" class="dropdown-item">Lista_Coisas</a>
                                            <a href="{% url 'cadastrar_coisa'%}" class="dropdown-item">Cadastrar_Coisas</a>
                                        </div>
                                    </div>
                                </div> 



{% endblock navbar%}
{% block conteudo %}
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Tenha tudo sobe controle!!</h5>
        <p class="card-text">Mantenha suas CoisasEmprestadas sobe controle com nosso MiniSistema</p>
        
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">O sistema que te Lembra!!!</h5>
        <p class="card-text">Sistema para você não esquecer para quem emprestou cada coisa.</p>
        
      </div>
    </div>
  </div>
</div>
{% endblock conteudo %}